body {
  font-family: 'Roboto', sans-serif;
}
div {
  box-sizing: border-box;
}
header {
  display: flex;
  flex-direction: column;
  color: white;
}
header .top-wrapper {
  background-color: #084f70;
  border-bottom: 1px solid #084f70;
  box-shadow: 0 1px 5px #084f70;
  padding: 15px 10px;
}
header .top-wrapper .description {
  font-size: 1rem;
  font-weight: lighter;
}
header .top {
  display: flex;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
header .logo .real-logo {
  font-size: 1.8rem;
  font-weight: normal;
}
header .logo .real-logo span {
  font-size: 2.1rem;
  font-weight: bold;
  color: #f6921e;
}
header .phone-block .phone {
  font-size: 2.15rem;
  font-weight: bold;
  margin-bottom: 3px;
}
header .phone-block .phone span {
  font-weight: normal;
  color: #f6921e;
}
header nav ul {
  display: flex;
  margin: auto;
  padding: 0 10px;
  max-width: 1200px;
  list-style-type: none;
}
header nav ul li {
  text-align: center;
}
header nav ul li:hover {
  color: #f6921e;
}
header nav ul li a {
  display: block;
  text-decoration: none;
  padding: 30px 25px 30px 0;
  color: #000;
  text-transform: uppercase;
  font-size: .9rem;
}
header nav ul li a:hover {
  color: #f6921e;
  transition: .3s;
}
.slider-wrapper {
  background-image: url(../images/gbo-sterlitamak-4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 2px #084f70;
}
.slider-wrapper .slider {
  background-color: rgba(0, 152, 219, 0.8);
  padding: 30px 10px 40px 10px;
  margin-bottom: 50px;
}
.slider-wrapper .slider .first-slide {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #fff;
}
.slider-wrapper .slider .plus-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.slider-wrapper .slider .first-slide .plus {
  width: 300px;
  padding: 0 20px;
  margin: 0 auto 40px auto;
}
.slider-wrapper .slider .first-slide .plus .img {
  width: 60px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 20px auto;
}
.slider-wrapper .slider .first-slide .plus-1 .img {
  background-image: url(../images/bank-2-xxl.png);
  height: 55px;
  margin-bottom: 25px;
}
.slider-wrapper .slider .first-slide .plus-2 .img {
  background-image: url(../images/engine-xxl.png);
}
.slider-wrapper .slider .first-slide .plus-3 .img {
  width: 80px;
  height: 70px;
  margin-bottom: 10px;
  background-image: url(../images/car-3-xxl.png);
}
.slider-wrapper .slider .first-slide .plus-4 .img {
  background-image: url(../images/white-tree-hi.png);
  width: 55px;
  height: 55px;
  margin-bottom: 25px;
}
.slider-wrapper .slider .first-slide .description {
  text-align: center;
}
.slider-wrapper .slider .first-slide .description span {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.slider-wrapper .slider .first-slide .description p {
  font-size: 16px;
  font-weight: lighter;
}
h1 {
  text-align: center;
  font-size: 3.5rem;
  color: white;
  margin-bottom: 60px;
}
.calculator-wrapper {
  margin-bottom: 30px;
}
.calculator-wrapper .calculator {
  margin: auto;
  background-color: #ddecf3;
  border-radius: 10px;
  max-width: 750px;
}
.calculator-wrapper .calculator form {
  padding: 15px;
}
.calculator-wrapper .calculator p {
  text-align: left;
}
.calculator-wrapper .calculator .calculate-button {
  background-color: #f6921e;
  border-radius: 10px;
  width: 300px;
  margin: 20px auto;
  text-align: center;
  padding: 15px 25px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.calculator-wrapper .calculator .calculate-button:hover {
  background-color: #f99e34;
  box-shadow: 0 0px 5px #f6921e;
  transition: .3s;
}
.calculator-wrapper .calculator input {
  width: 60px;
  border-radius: 6px;
  border: 1px solid #c9c8c8;
  padding: 5px;
  font-size: 1rem;
  outline: none;
}
.calculator-wrapper .calculator input:focus {
  box-shadow: 0 0 5px #0098DB;
}
.calculator-wrapper .calculator p {
  margin-bottom: 10px;
  width: 300px;
  margin: 0 auto 10px auto;
}
.calculator-wrapper .calculator i {
  color: #f6921e;
  font-size: 18px;
  font-weight: bold;
}
.calculator-wrapper .calculator span {
  display: inline-block;
  width: 220px;
}
.calculator-wrapper .calculator h3 {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  background-color: #0098DB;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
}
h2 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0 auto 30px auto;
  padding-top: 20px;
}
h2:before {
  content: "";
  margin: 0 auto 20px auto;
  background-color: #0098DB;
  height: 3px;
  width: 35px;
  display: block;
}
.advantages-block {
  display: flex;
  max-width: 1200px;
  margin: auto;
}
.text {
  margin: auto;
  max-width: 800px;
}
.text p {
  margin-top: 30px;
  text-align: left;
}
.content-block-wrapper {
  margin: 10px 0;
  padding: 10px;
}
.content-block {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
.content-block ul {
  line-height: 1.5em;
  min-width: 300px;
}
.content-block ul li {
  margin-bottom: 20px;
  list-style-type: disc;
  margin-left: 20px;
}
.content-block p {
  text-align: center;
  margin: 0 auto 20px auto;
  max-width: 800px;
  line-height: 1.5em;
}
.how-to {
  background-color: #DDECF2;
}
.our-service {
  background-color: #DDECF2;
}
.our-service ul {
  margin: auto;
  max-width: 800px;
}
.map-wrapper {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto 50px auto;
}
.map {
  width: 600px;
  margin: auto;
}
.contacts {
  margin: 0 auto 40px auto;
  padding: 0 10px;
}
.contacts h3 {
  color: #0098DB;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}
.contacts p {
  color: #B7B6B6;
}
.contacts p b {
  color: black;
  display: inline-block;
  margin-right: 20px;
  padding-bottom: 7px;
  width: 60px;
}
.contacts span {
  vertical-align: top;
  color: #000;
}
.vk {
  background-image: url(../images/1478910566_vkontakte.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 50px;
  height: 50px;
}
footer {
  background-color: #084f70;
  border-top: 1px solid #084f70;
  box-shadow: inset 0 6px 40px #084f70;
  padding: 35px 10px;
  color: white;
}
footer .copy {
  font-size: .9rem;
  font-weight: lighter;
}
footer .phone-block .phone {
  font-size: 2.15rem;
  font-weight: bold;
  margin-bottom: 3px;
}
footer .phone-block .phone span {
  font-weight: normal;
  color: #f6921e;
}
footer .wrapper {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap-reverse;
}
@media (max-width: 660px) {
  header .logo {
    margin: 0 auto 30px auto;
  }
  header .phone-block {
    margin: auto;
  }
  header nav ul {
    justify-content: space-around;
  }
  footer .phone-block {
    margin: 0 auto 30px auto;

  }
  footer .copy {
    margin: auto;
  }
}
